= comment.body
=comment.user.email
-if can? :destroy, Comment
    - if user_signed_in? &&  (comment.user.email == current_user.email or current_user.admin?)
        = link_to 'Видалити коментар', comment_path(comment), method: :delete, data: {confirm: "Are you sure?"}
%br
