// Place all the styles related to the Adverts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info {
}
.users {
    font-size: 20px;
}
#advert_body {
    min-height: 200px;
    background: wheat;
    width: 50%;
}
#advert_summary {
    min-height: 100px;
    background: wheat;
    width: 50%;
}
#advert_title {
    min-height: 50px;
    background: wheat;
    width: 50%;
}
.trix-content {
    min-height: 200px;
}
.img-thumb {
    float: left;
}
