// Place all the styles related to the Adverts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info {
}
.users {
    font-size: 20px;
}
.editor {
    min-height: 200px;
    background: wheat;
}
#advert_summary {
    min-height: 100px;
    background: wheat;
    width: 100%;
}
.trix-content {
    min-height: 200px;
}
